<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbaic.jd.mapper.OrderDetailMapper">

    <select id="findUsersByFinishedOrder" resultType="java.lang.Long">
        SELECT u.id FROM jd_order_detail AS o
                             LEFT  JOIN jd_user AS u ON u.id = o.owner_id || u.id = o.buyer_id
        WHERE o.finish_time >= #{begin} and o.finish_time &lt;= #{end}
        GROUP BY u.id;
    </select>

</mapper>
